.glyphicon{
	font-size: 21px;
}

.period{  
	border: none;
	outline: none;
	display: block;
	box-sizing: padding-box;
	overflow: hidden;
	width: 100%;
  	font-size: 18px;
	width: 100%;
	padding: 0;
	margin: 0;
}