#homework-checklist{
	margin-top: 10px;
	border: 5px solid #000000;
	border-radius: 12px;
}

form {
    display: inline-block;
}

#button{
    display: inline-block;
    height:20px;
	width:70px;
	background-color:#cc0000;
	font-family:arial;
	font-weight:bold;
	color:#ffffff;
	border-radius: 5px;
	text-align:center;
	margin-top:2px;
}

#to-do-list{
	margin-top: 20px;
}

textarea {
	border-width: 1px;
	font-size: 20px;
}